#activityLogs{
	max-height:300px;
	overflow:auto;
}
#adminFooter{
	height:100px;
}
#bodyHolder{
	margin-top: 70px;
}
.recipient:hover{
	background-color: #f04124;
}
#adduniversity,
#viewuniversity{
	display: none;
}